// .warmup-campaign card
.warmup-campaign {
  &-header {
    margin: auto auto 2rem auto;
  }
  &-row {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  &-card {
    width: 301px;
    border-radius: 14px;
    background: #ffffff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08);
    &-body {
      padding: 1.5rem;
      &-image{
        margin: 1rem auto;
        height: 90px;
        width: 90px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $primary-support;
        img{
          width: 30px;
        }
      }
      h3 {
        font-weight: 600;
        font-size: 1.25rem !important;
      }
      p{
        font-size: 14px;
        color: $gray;
        line-height: 1.4;
      }
    }
  }
}


.test{
  background-color: $primary-color;
  padding: 1rem;
  border-radius: 1rem;
  //.test-heading == &-heading
  &-heading{
    padding: 2rem;
    h1{
      font-size: 5rem;
    }
  }
}