.btn {
  font-family: "Inter", sans-serif;
  &-primary {
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 600;
    color: $white;
    background: $primary-color;
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.3s;
    box-shadow: 0px 6.98814px 15.7233px rgba(56, 74, 241, 0.15);
    padding: 10.4822px 8.73518px;
    cursor: pointer;
    // @include respond(phone) {
    // 	font-size: 16px;
    // 	padding: 10px 20px;
    // }

    &:hover {
      text-decoration: none;
      box-shadow: 0px 6.98814px 15.7233px rgba(56, 74, 241, 0.25);
    }

    // &__dark {
    // 	min-width: 200px;
    // 	padding: 12px 20px;
    // 	@include flex-row_center;
    // 	font-size: 18px;
    // 	font-weight: 600;
    // 	background: $dark;
    // 	color: #fff;
    // 	border: none;
    // 	outline: none;
    // 	border-radius: 8px;
    // 	transition: all 0.3s;

    // 	&:hover {
    // 		color: #fff;
    // 		text-decoration: none;
    // 		box-shadow: 0 10px 30px rgba($color: $primary-color, $alpha: 0.1);
    // 	}

    // 	span {
    // 		width: auto;

    // 		img {
    // 			width: 20px;
    // 			height: 20px;
    // 			margin-top: -8px;
    // 			margin-left: 10px;
    // 		}
    // 	}
    // }
  }
  &-round {
    border-radius: 41.9289px;
  }
  &-block {
    width: 100%;
  }

  &-lite{
	  	font-family: 'Inter', sans-serif;
		color: $primary-color;
		border: 1px solid $primary-support;
		font-size: 15px;
		font-weight: 600;
		text-decoration: none;
		padding: 0.5rem 1rem ;
		background: #fff;
  	}
}
