.d-flex {
  display: flex;
}
.flex-flow-row {
  flex-flow: row;
}
.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: flex-start;
}
.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
