.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background: rgba(0, 0, 0, 0.54); /* Opacity */
  backdrop-filter: blur(7px); /* background Blur*/

  // Small Modal
  &-sm {
    max-width: 600px;
  }

  /* Modal Content */
  &-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.25s;
    border-radius: 14px;
    overflow: hidden;

    // Modal Header
    .modal-header {
      padding: 1rem;
      color: $primary-color;
      .close {
        color: $gray;
        float: right;
        font-size: 28px;
        font-weight: bold;
		cursor: pointer;
        &:hover,
        &:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }

    // Modal Body
    .modal-body {
      padding: 2rem;
      &-close-btn {
        float: right;
        font-size: 2rem;
		cursor: pointer;
      }
    }
  }
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-body-email-list {
  h1 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
  }
  .email-cards {
	  .gmail-card{
		 background: #ffeceb;
	  }
	  .outlook-card{
		  background: #EAF8FF;
	  }
	  .others-card{
		  background: #FFF6DC;
	  }
    .card {
      height: 155.36px;
      width: 160px;
     
      border-radius: 6.67891px;
	  display: grid;
		place-content: center;
      &-icon {
        height: 70px;
        width: 70px;
        background: $white;
		display: grid;
		place-content: center;
		border-radius: 50%;
        img {
          width: 35px;
        }
      }
      h3 {
        font-family: "Inter", sans-serif;
        font-weight: 500;
		color: #000;
		font-size: 1rem;
      }
    }
  }
}

/* The Close Button */

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
