.navbar {
  display: block;
  padding: 1rem 1rem;
  background: #FFFFFF;
	box-shadow: 0px 4px 24px -4px rgba(0, 0, 0, 0.07);

  ul {
    display: inline-flex;
	justify-content: end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    .nav-item {
      float: right;
	  margin: auto 1rem;
	  .search-container {
		  input[type=text] {
			padding: 6px;
			font-size: 16px;
			border: 1px solid #C8CDFF;
			border-radius: 50px;
			width: 350px;


			box-sizing: border-box;
			background-color: white;
			background-image: url('https://www.w3schools.com/howto/searchicon.png');
			background-position: 16px; 
			background-repeat: no-repeat;
			padding: .6rem 40px;
			background-size:16px ;
		}
		  button {
			float: right;
			padding: 6px 10px;
			margin-top: 8px;
			margin-right: 16px;
			background: #ddd;
			font-size: 17px;
			border: none;
			cursor: pointer;
			&:hover {
				background: #ccc;
			}
	  	}
	}

      .nav-link {
		  color: $primary-color;
		//   text-transform: uppercase;
        border: none;
        font-size: 1rem;
		font-weight: 600;
        text-align: center;
        text-decoration: none;
		font-family: 'Inter', sans-serif;
      }
    }
  }
}

